@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

header {
    background: #4267B2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

header img {
    height: 30px;
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

header div span {
    margin-right: 10px;
} 